﻿@model MA_ViewModel.m_CompanyView
@Html.AntiForgeryToken()

@Html.HiddenFor(model => model.id)

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <p class="col-md-5 text-right">* Company Code</p>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = "Auto Generated" } })
                </div>
            </div>
            <div class="form-group">
                <p class="col-md-5 text-right">Email</p>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p class="col-md-5 text-right">Phone</p>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <p class="col-md-5 text-right">* Company Name</p>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="col-md-5 text-right">Address</p>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "height: 100px" } })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 text-right">
            <input type="button" value="Close" data-dismiss="modal" class="btn btn-warning" style="width: 80px" />
        </div>
    </div>
</div>