﻿<br/>
<div class="panel panel-primary">
    <div class="panel-heading">
        <p style="font-size:15px">List Company</p>
    </div>
    <div class="panel-body">
        <span class="label label-default" style="background-color: #EFEDED; font-size: 14px; color: grey"> @Html.ActionLink("Home", "Index", "Home") / @Html.ActionLink("List Company", "Index", "m_Company")</span>
        <br />
        <div class="row">
            <div id="alertbox">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-md btn-primary" onclick="AddComp()">
                    Add
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" >
                @Html.DropDownList("searchCode", (SelectList)ViewBag.CompanyCode, "- Select Company Code -", new { @class = "form-control", id = "searchCode", style = "max-width: 210px" })
            </div>
            <div class="col-md-3">
                @Html.DropDownList("searchName", (SelectList)ViewBag.CompanyName, "- Select Company Name -", new { @class = "form-control", id = "searchName", style = "max-width: 210px" })
            </div>
            <div class="col-md-3">
                <div class="input-group date">
                    <input type="text" id="createdate" class="form-control" style="width:210px; border-right: none" placeholder="Created" onfocus="(this.type='date')" onblur="(this.type='text')">
                    <span class="input-group-addon btn" style="border-left:none; background: white">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <input type="search" id="createby" class="form-control" style="width:140px" placeholder="Created By" />
            </div>
            <div class="col-md-1">
                <button type="button" id="btn-search" class="btn btn-md btn-warning">
                    Search
                </button>
            </div>
        </div>
        <div id="list-body">
            Loading...
        </div>
    </div>
</div>

<div id="modal1" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 750px">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" style="color: white; font-size: 18px">Company</h3>
            </div>
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-delete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 230px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="body-delete">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <script type="text/javascript">
        var currPage = 1;
        var maxPage = 1;
        var searchCode = "";
        var searchName = "";
        var perPage = 10;
        var createDate;
        var createBy = "";

        $(document).ready(function () {
            GetList()
        })

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "m_Company")',
                type: 'get',
                data: { page: currPage, searchCode: searchCode, searchName: searchName, perPage: perPage, createBy: createBy },
                success: function (result) {
                    $("#list-body").html(result);
                    if (result = null) {
                        $("#list-body").html("Hasil tidak ditemukan");
                    };
                    if (currPage == 1) {
                        $('#btn-prev').addClass('disabled');
                    };
                }
            });
        }

        $("#btn-search").click(function () {
            searchCode = $("#searchCode").val();
            searchName = $("#searchName").val();
            createDate = $("#createdate").val();
            createBy = $("#createby").val();
            if (createDate == "") {
                GetList();
            } else {
                $.ajax({
                    url: '@Url.Action("SearchDate","m_Company")',
                    type: 'get',
                    data: { createDate: createDate },
                    success: function (result) {
                        $("#list-body").html(result);
                    }
                });
            }
        })

        function AddComp() {
            $.ajax({
                url: '@Url.Action("Create", "m_Company")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#modal1").modal("show");
                    $(".modal-title").html("Add Company");
                }
            });
        }

        function DetailById(id) {
            $.ajax({
                url: '@Url.Action("Detail", "m_Company")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("View Company");
                    $("#modal1").modal("show");
                }
            });
        }

        function GetById(id) {
            $.ajax({
                url: '@Url.Action("Edit", "m_Company")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Edit Company");
                    $("#modal1").modal("show");
                }
            });
        }

        function DeleteById(id) {
            $.ajax({
                url: '@Url.Action("Delete", "m_Company")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $("#body-delete").html(result);
                    $("#modal-delete").modal("show");
                }
            });
        }

        function rowPage(obj) {
            perPage = $(obj).attr('data-row');
            currPage = 1;
            GetList();
        }

        $("#btn-prev").click(function () {
            if (currPage > 1) {
                currPage--;
                $('#btn-next').removeClass('disabled');
            }
            GetList(currPage, perPage);
        });

        $("#btn-next").click(function () {
            if (currPage < maxPage) {
                currPage++;
                $('#btn-prev').removeClass('disabled');
            }
            GetList(currPage, perPage);
        });

        function DataSaved() {
        var saved = '<div class="alert alert-info alert-dismissible" role="alert"> <strong>Data Saved!</strong> New company has been add with code <strong>@ViewBag.Code !</strong> </div>';
        $("#alertbox").html(saved);
        $("#alertbox").slideUp(5000, function () {
            GetList();
        });
    }

    function DataUpdated() {
        var updated = '<div class="alert alert-info alert-dismissible" role="alert"> <strong>Data Updated!</strong> Data company has been updated <strong>!</strong> </div>';
        $("#alertbox").html(updated);
        $("#alertbox").slideUp(5000, function () {
            GetList();
        });
    }

    function DataDeleted() {
        var deleted = '<div class="alert alert-info alert-dismissible" role="alert"> <strong>Data Deleted!</strong> Data company has been deleted <strong>!</strong> </div>';
        $("#alertbox").html(deleted);
        $("#alertbox").slideUp(5000, function () {
            GetList();
        });
    }
    </script>
}


