﻿@model MA_ViewModel.m_EmployeeView

@using (Html.BeginForm("Create", "m_Employee", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <p class="col-md-5 text-right">* Emp ID Number</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.employee_number, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Emp ID Number" } })
                        @Html.ValidationMessageFor(model => model.employee_number, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* First Name</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Type First Name" } })
                        @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">Last Name</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Last Name" } })
                        @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <p class="col-md-5 text-right">* Company Name</p>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.m_company_id, (IEnumerable<SelectListItem>)ViewBag.CompanyList, "- Select Company Name -", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.m_company_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">Email</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Email" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 text-right">
                <div class="form-actions">
                    <input type="submit" value="Save" class="btn btn-primary" style="width: 80px" />
                    <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-warning" style="width: 80px" />
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-create").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    var ent = result.entity;
                    $("#modal1").modal("hide");                    
                    DataSaved();
                }
            }
        })
        return false;
    })
</script>
