﻿@model MA_ViewModel.m_EmployeeView
@Html.AntiForgeryToken()

@Html.HiddenFor(model => model.id)

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <p class="col-md-5 text-right">* Emp ID Number</p>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.employee_number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.employee_number, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="col-md-5 text-right">* First Name</p>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="col-md-5 text-right">Last Name</p>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <p class="col-md-5 text-right">* Company Name</p>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.company_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.m_company_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="col-md-5 text-right">Email</p>
                <div class="col-md-7">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12 text-right">
            <input type="button" value="Close" data-dismiss="modal" class="btn btn-warning" style="width: 80px" />
        </div>
    </div>
</div>