﻿@model MA_ViewModel.m_RoleView

<div>
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 text-center" style="font-size: 15px">
                Delete Data ? <br /> <br />
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Delete", "m_Role", FormMethod.Post, new { id = "form-delete", name = "form-delete" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="col-md-offset-1">
            <div class="form-actions">
                <input type="submit" value="Delete" class="btn btn-primary" style="width: 80px" />
                <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-warning" style="width: 80px" />
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $("#form-delete").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    $("#modal-delete").modal("hide");
                    DataDeleted();
                } else {
                    alert('Error: ' + result.message);
                }
            }
        })
        return false;
    })
</script>
