﻿@model MA_ViewModel.m_RoleView
@Html.AntiForgeryToken()

@Html.HiddenFor(model => model.id)

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="form-group">
            <p class="col-md-4 text-right">* Role Code</p>
            <div class="col-md-8">
                @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "max-width: 200px" } })
            </div>
        </div>

        <div class="form-group">
            <p class="col-md-4 text-right">* Role Name</p>
            <div class="col-md-8">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "max-width: 200px" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="col-md-4 text-right">Description</p>
            <div class="col-md-8">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "max-width: 200px" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 text-right">
            <input type="button" value="Close" data-dismiss="modal" class="btn btn-warning" style="width: 80px" />
        </div>
    </div>
</div>