﻿@model IEnumerable<MA_ViewModel.m_RoleView>

<style>
    .table {
        counter-reset: serial-number;
    }

        .table td:first-child:before {
            counter-increment: serial-number;
            content: counter(serial-number);
        }
</style>

<table class="table">
    <tr>
        <th>No</th>
        <th>Role Code</th>
        <th>Role Name</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_by)
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default btn-detail" style="border:none" data-id="@item.id" title="View" onclick="DetailById(@item.id)">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-edit" style="border:none" data-id="@item.id" title="Edit" onclick="GetById(@item.id)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-delete" style="border:none" data-id="@item.id" onclick="DeleteById(@item.id)" title="Delete">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </td>
        </tr>
    }

</table>

<div class="col-md-offset-5 text-right">
    <button type="button" class="btn btn-primary" id="btn-prev">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </button>
    <span class="btn" style="border-color: grey; background: none; color: steelblue">@ViewBag.currPage</span>

    <button type="button" class="btn btn-primary" id="btn-next">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </button>
</div>
