﻿@model MA_ViewModel.t_EventView

@using (Html.BeginForm("Approval", "t_Event", FormMethod.Post, new { id = "form-approval", name = "form-approval" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <p class="col-md-5 text-right">* Transaction Code</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Event Name</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.event_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.event_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Event Place</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.place, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.place, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Event Start Date</p>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="input-group date">
                                @Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control", style = "width:110px; border-right: none", @readonly = "readonly" } })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.start_date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Event End Date</p>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="input-group date">
                                @Html.EditorFor(model => model.end_date, new { htmlAttributes = new { @class = "form-control", style = "width:110px; border-right: none", @readonly = "readonly" } })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.end_date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Budget (Rp.)</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.budget, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.budget, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Assign To</p>
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.assign_to, (IEnumerable<SelectListItem>)ViewBag.EmployeeList, "- Select Employee -", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.assign_to, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <p class="col-md-5 text-right">* Request By</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.request_by, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.request_by, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Request Date</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.request_date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.request_date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">Note</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "height: 100px" } })
                        @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">Status</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.status_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.request_date, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 text-right">
                <div class="form-actions">
                    <input type="submit" value="Approved" class="btn btn-primary" style="width: 80px" />
                    <button type="button" class="btn btn-danger" style="width: 80px" onclick="Reject( new { id = @Html.HiddenFor(model => model.id) })">Rejected</button>
                    <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-warning" style="width: 80px" />
                </div>
            </div>
        </div>
    </div>
}



@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-approval").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    $("#modal1").modal("hide");
                    DataApproved();
                }
            }
        })
        return false;
    })

    

</script>
