﻿@model MA_ViewModel.t_EventView

@using (Html.BeginForm("Edit", "t_Event", FormMethod.Post, new { id = "form-edit", name = "form-edit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <p class="col-md-5 text-right">* Transaction Code</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Event Name</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.event_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Event Name" } })
                        @Html.ValidationMessageFor(model => model.event_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Event Place</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.place, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Event Place" } })
                        @Html.ValidationMessageFor(model => model.place, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Event Start Date</p>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="input-group date">
                                @Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control", style = "width:110px; border-right: none", placeholder = "Select Date", onfocus = "(this.type='date')", onblur = "(this.type='text')" } })
                                <span class="input-group-addon btn" style="border-left:none; background: white">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.start_date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Event End Date</p>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="input-group date">
                                @Html.EditorFor(model => model.end_date, new { htmlAttributes = new { @class = "form-control", style = "width:110px; border-right: none", placeholder = "Select Date", onfocus = "(this.type='date')", onblur = "(this.type='text')" } })
                                <span class="input-group-addon btn" style="border-left:none; background: white">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.end_date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Budget (Rp.)</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.budget, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Event Budget" } })
                        @Html.ValidationMessageFor(model => model.budget, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <p class="col-md-5 text-right">* Request By</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.request_by, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.request_by, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">* Request Date</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.requestdate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.request_date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">Note</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", placeholder = "Type Note", style = "height: 100px" } })
                        @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <p class="col-md-5 text-right">Status</p>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.status_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.request_date, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 text-right">
                <div class="form-actions">
                    <input type="submit" value="Update" class="btn btn-primary" style="width: 80px" />
                    <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-warning" style="width: 80px" />
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-edit").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    $("#modal1").modal("hide");
                    DataUpdated();
                }
            }
        })
        return false;
    })
</script>
