﻿
@model IEnumerable<MA_ViewModel.t_EventView>

<style>
    .table {
        counter-reset: serial-number;
    }

        .table td:first-child:before {
            counter-increment: serial-number;
            content: counter(serial-number);
        }
</style>

<table class="table">
    <tr>
        <th>No</th>
        <th>Transaction Code</th>
        <th>Request By</th>
        <th>Request Date</th>
        <th>Status</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.request_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.requestdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_by)
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default btn-detail" style="border:none" data-status="@item.status" data-id="@item.id" title="Approval" onclick="View(this)">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-edit" style="border:none" data-status="@item.status" data-id="@item.id" title="Edit" onclick="Edit(this)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-reject" style="border:none" data-status="@item.status" data-id="@item.id" title="Reject" onclick="Reject(this)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </td>
        </tr>
    }

</table>

<div class="col-md-offset-5 text-right">
    <button type="button" class="btn btn-primary" id="btn-prev">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </button>
    <span class="btn" style="border-color: grey; background: none; color: steelblue">@ViewBag.currPage</span>

    <button type="button" class="btn btn-primary" id="btn-next">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </button>
</div>

<script type="text/javascript">
    function View(obj) {
        var status = $(obj).attr('data-status');
        var id = $(obj).attr('data-id');
        if (status == 1) {
            Approval(id);
        } else if (status == 2) {
            EventDone(id);
        } else {
            $('.btn-detail').addClass('disabled');
        }
    }

    function Edit(obj) {
        var status = $(obj).attr('data-status');
        var id = $(obj).attr('data-id');
        if (status != 1) {
            $('.btn-edit').addClass('disabled');
        } else {
            $('.btn-edit').removeClass('disabled');
            GetById(id);
        }
    }

    function Reject(obj) {
        var status = $(obj).attr('data-status');
        var id = $(obj).attr('data-id');
        if (status != 1) {
            $('.btn-reject').addClass('disabled');
        } else {
            $('.btn-reject').removeClass('disabled');
            Reject(id);
        }
    }

</script>