﻿@model MA_ViewModel.t_EventView

<div>
    <button type="button" class="close btn btn-danger text-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 text-center" style="font-size: 15px">
                Reject Reason
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Reject", "t_Event", FormMethod.Post, new { id = "form-reject", name = "form-reject" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.reject_reason, new { htmlAttributes = new { @class = "form-control", placeholder = "Input Reject Reason", style = "height: 100px" } })
                    @Html.ValidationMessageFor(model => model.reject_reason, "", new { @class = "text-danger" })
                </div>
            </div>
        </div> <br />
        <div class="col-md-offset-1">
            <div class="form-actions">
                <input type="submit" value="Reject" class="btn btn-danger" style="width: 80px" />
                <input type="button" value="Cancel" data-dismiss="modal" class="btn btn-warning" style="width: 80px" />
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#form-reject").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    $("#modal-reject").modal("hide");
                    DataRejected();
                }
            }
        })
        return false;
    })
</script>
