﻿<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <p style="font-size:15px">List Event Request</p>
    </div>
    <div class="panel-body">
        <span class="label label-default" style="background-color: #EFEDED; font-size: 14px; color: grey"> @Html.ActionLink("Home", "Index", "Home") / @Html.ActionLink("List Employee", "Index", "t_Event")</span>
        <br />
        <div class="row">
            <div id="alertbox">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-md btn-primary" onclick="AddEvent()">
                    Add
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <input type="search" id="search-code" class="form-control" style="width:185px" placeholder="Transaction Code" />
            </div>
            <div class="col-md-2">
                <input type="search" id="search-request" class="form-control" style="width:185px" placeholder="Request By" />
            </div>
            <div class="col-md-2">
                <div class="input-group date">
                    <input type="text" id="requestdate" class="form-control" style="width:150px; border-right: none" placeholder="Request Date" onfocus="(this.type='date')" onblur="(this.type='text')">
                    <span class="input-group-addon btn" style="border-left:none; background: white">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-1">
                <div class="input-group">
                    <div class="dropdown">
                        <button type="button" id="status" style="width:90px" class="btn btn-md dropdown-toggle btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Status
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" value="1">Submitted</a></li>
                            <li><a href="#" value="2">In Progress</a></li>
                            <li><a href="#" value="3">Done</a></li>
                            <li><a href="#" value="0">Rejected</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group date">
                    <input type="text" id="createdate" class="form-control" style="width:150px; border-right: none" placeholder="Created" onfocus="(this.type='date')" onblur="(this.type='text')">
                    <span class="input-group-addon btn" style="border-left:none; background: white">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <input type="search" id="createby" class="form-control" style="width:185px" placeholder="Created By" />
            </div>
            <div class="col-md-1">
                <button type="button" id="btn-search" class="btn btn-md btn-warning">
                    Search
                </button>
            </div>
        </div>
        <div id="list-body">
            Loading...
        </div>
    </div>
</div>

<div id="modal1" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 750px">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" style="color: white; font-size: 18px">Employee</h3>
            </div>
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-reject" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 230px">
        <div class="modal-content">
            <div class="modal-body" id="body-reject">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <script type="text/javascript">
        var currPage = 1;
        var maxPage = 1;
        var perPage = 10;
        var searchCode = "";
        var searchRequest = 1;
        var requestDate;
        var status = 2;
        var createDate;
        var createBy = "";

        $(document).ready(function () {
            GetList()
        })

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "t_Event")',
                type: 'get',
                data: { page: currPage, searchCode: searchCode, searchRequest: searchRequest, createBy: createBy, perPage: perPage },
                success: function (result) {
                    $("#list-body").html(result);
                    if (result = null) {
                        $("#list-body").html("Hasil tidak ditemukan");
                    };
                    if (currPage == 1) {
                        $('#btn-prev').addClass('disabled');
                    };
                }
            });
        }

        $("#btn-search").click(function () {
            searchCode = $("#search-code").val();
            searchRequest = $("#search-request").val();
            requestDate = $("#requestdate").val();
            status = $("#status").val();
            createDate = $("#createdate").val();
            createBy = $("#createby").val();
            if (createDate == "" && requestDate == "") {
                GetList();
            } else {
                $.ajax({
                    url: '@Url.Action("SearchDate","t_Event")',
                    type: 'get',
                    data: { createDate: createDate, requestDate: requestDate },
                    success: function (result) {
                        $("#list-body").html(result);
                    }
                });
            }

        })

        function AddEvent() {
            $.ajax({
                url: '@Url.Action("Create", "t_Event")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#modal1").modal("show");
                    $(".modal-title").html("Add Event Request");
                }
            });
        }

        function Approval(id) {
            $.ajax({
                url: '@Url.Action("Approval", "t_Event")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Approval Event Request - ");
                    $("#modal1").modal("show");
                }
            });
        }

        function EventDone(id) {
            $.ajax({
                url: '@Url.Action("Done", "t_Event")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Approval Event Request - ");
                    $("#modal1").modal("show");
                }
            });
        }

        function Reject(id) {
            $.ajax({
                url: '@Url.Action("Reject", "t_Event")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $("#body-reject").html(result);
                    $("#modal-reject").modal("show");
                }
            });
        }

        function GetById(id) {
            $.ajax({
                url: '@Url.Action("Edit", "t_Event")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html("Edit Event Request - ");
                    $("#modal1").modal("show");
                }
            });
        }

        function rowPage(obj) {
            perPage = $(obj).attr('data-row');
            currPage = 1;
            GetList();
        }

        $("#btn-prev").click(function () {
            if (currPage > 1) {
                currPage--;
                $('#btn-next').removeClass('disabled');
            }
            GetList(currPage, perPage);
        });

        $("#btn-next").click(function () {
            if (currPage < maxPage) {
                currPage++;
                $('#btn-prev').removeClass('disabled');
            }
            GetList(currPage, perPage);
        });

        function DataSaved() {
            var saved = '<div class="alert alert-info alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Data Saved!</strong> Transaction event request has been add with code <strong>@ViewBag.Code !</strong> </div>';
            $("#alertbox").html(saved);
            $("#alertbox").slideUp(5000, function () {
                GetList();
            });
        }

        function DataUpdated() {
            var updated = '<div class="alert alert-info alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Data Updated!</strong> Transaction event request has been updated <strong>!</strong> </div>';
            $("#alertbox").html(updated);
            $("#alertbox").slideUp(5000, function () {
                GetList();
            });
        }

        function DataApproved() {
            var approved = '<div class="alert alert-info alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Data Approved !</strong> Transaction event request has been approved <strong>!</strong> </div>';
            $("#alertbox").html(approved);
            $("#alertbox").slideUp(5000, function () {
                GetList();
            });
        }

        function DataRejected() {
            var rejected = '<div class="alert alert-info alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Data Rejected !</strong> Transaction event request has been rejected <strong>!</strong> </div>';
            $("#alertbox").html(rejected);
            $("#alertbox").slideUp(5000, function () {
                GetList();
            });
        }
    </script>
}




